html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  display: inline-block;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: normal;
  font-weight: normal;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: text-bottom;
  line-height: 1;
  width: 100%;
  outline: 0;
  padding: 15px 0;
  border: 0;
  background: transparent;
  margin-bottom: 20px;
  color: #333;
  display: inline-block;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 100%;
  max-width: 100%;
  outline: 0;
  padding: 15px 0;
  border: 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background: transparent;
  min-height: 100px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #111;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
}
p {
  line-height: 1.5;
  color: #333;
  font-style: normal;
  font-weight: normal;
}
h1, h2, h3, h4, h5 {
  margin: 10px 0;
  padding: 0;
  line-height: 1.3;
  font-style: normal;
  font-weight: normal !important;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}
::-webkit-input-placeholder {
  color: #666;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 1260px) {
  .container {
    width: 1260px;
  }
}
.sm-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 800px) {
  .sm-container {
    width: 800px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.c-1-1, .c-2-1, .c-1-2, .c-2-2, .c-1-3, .c-2-3, .c-1-4, .c-2-4, .c-1-5, .c-2-5, .c-1-6, .c-2-6, .c-1-7, .c-2-7, .c-1-8, .c-2-8, .c-1-9, .c-2-9, .c-1-10, .c-2-10, .c-1-11, .c-2-11, .c-1-12, .c-2-12  {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}
.c-1-1, .c-1-2, .c-1-3, .c-1-4, .c-1-5, .c-1-6, .c-1-7, .c-1-8, .co-1-9, .c-1-10, .c-1-11, .c-1-12 {
  float: left;
}
.c-1-12 {
  width: 100%;
}
.c-1-11 {
  width: 91.66666667%;
}
.c-1-10 {
  width: 83.33333333%;
}
.c-1-9 {
  width: 75%;
}
.c-1-8 {
  width: 66.66666667%;
}
.c-1-7 {
  width: 58.33333333%;
}
.c-1-6 {
  width: 50%;
}
.c-1-5 {
  width: 41.66666667%;
}
.c-1-4 {
  width: 33.33333333%;
}
.c-1-3 {
  width: 25%;
}
.c-1-2 {
  width: 16.66666667%;
}
.c-1-1 {
  width: 8.33333333%;
}
@media (min-width: 800px) {
  .c-2-1, .c-2-2, .c-2-3, .c-2-4, .c-2-5, .c-2-6, .c-2-7, .c-2-8, .c-2-9, .c-2-10, .c-2-11, .c-2-12 {
    float: left;
  }
  .c-2-12 {
    width: 100%;
  }
  .c-2-11 {
    width: 91.66666667%;
  }
  .c-2-10 {
    width: 83.33333333%;
  }
  .c-2-9 {
    width: 75%;
  }
  .c-2-8 {
    width: 66.66666667%;
  }
  .c-2-7 {
    width: 58.33333333%;
  }
  .c-2-6 {
    width: 50%;
  }
  .c-2-5 {
    width: 41.66666667%;
  }
  .c-2-4 {
    width: 33.33333333%;
  }
  .c-2-3 {
    width: 25%;
  }
  .c-2-2 {
    width: 16.66666667%;
  }
  .c-2-1 {
    width: 8.33333333%;
  }
}
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.container:after,
.row:after {
  clear: both;
}
.wscu-login-wrap {
  width: 100%;
  height: 100%;
  background: #F2F4F4;
  padding: 30px 0;
  overflow: auto;
}
.wscu-login {
  padding: 30px 60px;
  border-radius: 10px;
  background: #fff;
  margin: auto;
  max-width: 400px;
  -webkit-box-shadow: 0px 10px 39px -9px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 39px -9px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 39px -9px rgba(0,0,0,0.2);
}
@media(min-height: 545px) {
  .wscu-login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.wscu-logo {
  width: 200px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  display: block;
}
.wscu-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "eurostile","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #0097cc;
  margin-bottom: 5px;
  display: inline-block;
}
.wscu-input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
  border: 2px solid #e6e6e6;
  border-radius: 6px;
}
.wscu-input:focus {
  border: 2px solid #0097cc;
}
.btn {
  color: #fff;
  padding: 10px 20px;
  background: #0097cc;
  border: 2px solid #0097cc;
  border-radius: 500px;
  text-transform: uppercase;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "eurostile","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  color: #0097cc;
  background: transparent;
}
.login-info {
  margin: 5px 0;
  font-size: 12px;
  color: #005d8e;
}
.link {
  color: #0097cc;
}